<div>
    <div>
    <h1>The Haversack</h1>

    <div>
      <h4>Welcome to the Haversack App!</h4>

      <p>If you're a new user, please <b><a href="/signup">sign up</a></b> to start storing your items..</p>
      
      <p>If you're a returning user, please <b><a href="/login">log in</a></b> to view your bag.</p>

    </div>



  </div>
</div>